*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 65.5%;
}

body {
  background-color: #000000;
}

.button-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 35rem;
}

button {
  cursor: pointer;
  outline: none;
  width: 20rem;
  height: 5rem;
  margin-top: 5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: #000000;
  background: linear-gradient(
    rgba(232, 232, 232, 0.4),
    rgba(143, 142, 174, 0.8)
  );
  border: none;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  filter: brightness(90%);
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  cursor: default;
  filter: brightness(50%);
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
